/* *****************************************************************
LOG
***************************************************************** */

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../../../public/images/bg_cream.svg");
  background-size: 50%;
}

.login-box {
  width: 30%;
  background: var(--color-cream);
  padding: 2rem 5rem;
  box-shadow: var(--box-shadow);
  text-align: center;
  border-radius: 5px;
}
.login-box h2 {
  margin-bottom: 3rem;
  color: var(--color-dark-green);
}

.textbox {
  position: relative;
  margin-bottom: 2rem;
}
.textbox input {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: var(--color-white);
}

.forgot-password {
  display: block;
  text-align: left;
  margin-top: 3rem;
  color: var(--color-dark-green);
  cursor: pointer;
}
.forgot-password:hover {
  text-decoration: underline;
}

.errorLabel {
  font-size: 1.5rem;
  color: var(--color-grey);
}
