.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  padding: 1rem 5rem;
  margin-top: 5rem;
  background-color: var(--color-gold);
}

.credits {
  display: flex;
  align-items: center;
}
.credits a {
  margin-left: 2rem;
}

.footer a {
  font-size: 1.5rem;
}

.footer__nav {
  color: var(--color-cream);
  font-size: 1.5rem;
  margin-left: 3rem;
}

.footer__nav:hover {
  opacity: 0.6;
}
