.navbar__logo {
  width: 50%;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  min-height: auto;
  padding: 2rem;
  width: 100vw;
  color: var(--color-cream);
  background-image: url(../images/bg_green.svg);
  background-size: 100%;}

.navbar__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: -100vw;
  top: 0;
  bottom: 0;
  width: 100vw;
  padding: 2rem;
  margin: 0;
  visibility: hidden;
  transition: all 0.8s ease-out;
}

.navbar__link {
  display: block;
  padding: 1.5rem;
  font-size: 5vw;
  &:hover {
    opacity: 0.6;
    transition: 0.3 ease-in-out;
  }
}

.navbar__avatar {
  width: 8rem;
  height: 8rem;
  background-position: center;
  border-radius: 50%;
}

.navbar__burger {
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  border: none;
  color: inherit;
  display: block;
    &:hover {
      cursor: pointer;
    }
}

.burger--line,
.burger--line::before,
.burger--line::after {
  display: block;
  width: 3.5rem;
  height: 0.2rem;
  position: relative;
  border-radius: 0.5rem;
  background-color: var(--color-cream);
  transition: all 0.5s ease-in-out;
}

.burger--line::before,
.burger--line::after {
  content: "";
  position: absolute;
  left: 0;}

.burger--line::before {
  transform: translateY(-1rem);
}

.burger--line::after {
  transform: translateY(1rem);
}

.show-nav .navbar__links {
  width: 100vw;
  top: 0;
  right: 0;
  visibility: visible;
  background: var(--color-dark-green);
}
.show-nav .burger--line {
  width: 0;
  background: transparent;
}
.show-nav .burger--line::before {
  transform: rotate(45deg);
}
.show-nav .burger--line::after {
  transform: rotate(-45deg);
}

.show-nav .navbar__item::after {
  content: "";
  display: block;
  margin: 2rem auto;
  width: 2.5rem;
  height: 0.3rem;
  background: var(--color-cream);
}

.show-nav .navbar__item:last-child:after {
  display: none;
}

/* RESPONSIVE */
@media screen and (min-width: 480px) and (max-width: 960px) {
  .navbar__avatar {
    width: 12rem;
    height: 12rem;
  }
}

@media screen and (min-width: 960px){
  .navbar__logo {
    width: 20%;
    margin-top: 0;
  }
  .navbar {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    min-height: auto;
    padding: 1rem 2rem;
    color: var(--color-cream);
    background-image: url(../images/bg_green.svg);
    background-size: 50%;
  }
  .navbar__links {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    position: unset;
    right: -100vw;
    padding: 0;
    visibility: visible;
    background-color: transparent;
      a {
        margin-left: 3rem;
      }
  }
  .show-nav .navbar__links {
    right: 0;
    width: 100vw;
    visibility: visible
  }
  .navbar__link {
    font-size: var(--size-text);
    padding: 0 0.3rem;
    color: inherit
  }
  .navbar__burger {
    display: none;
  }
}

/* *****************************************************************
ACCESSIBILITY
***************************************************************** */

a:focus,
select:focus,
input:focus,
button:focus {
  outline: 2px solid #000;
}

.hidden-menu a {
  position: absolute;
  top: -4em;
  left: 0;
  display: block;
  padding: 0.5em;
  font-size: 1.2em;
  color: var(--color-white);
  background-color: var(--color-dark-grey);
  transition: 0.2s;
}
.hidden-menu a:focus {
  top: 0;
}

/* menu accessibilité */
.accessibility {
  display: none;
  margin-bottom: 2rem;
  border-bottom: 0.1rem solid var(--color-cream);
}
.nav__access {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

.nav__access a {
  position: absolute;
  display: block;
  padding: 1em;
  white-space: nowrap;
  color: white;
  background-color: black;
  opacity: 0;
}

.nav__access a:focus {
  opacity: 1;
}

/* menu accessibilité */
.nav__top {
  text-align: end;
  color: var(--color-cream);
  & button {
    color: var(--color-cream);
    border: 0;
    background-color: transparent;
  }
  & button:hover {
    opacity: 0.8;
  }
}


#line-large {
  cursor: pointer;
}

/* RESPONSIVE */

@media screen and (min-width: 960px){
  .accessibility {
    display: block;
  }
}
