.bg__not-found {
  background-image: url(../images/fond-arc-en-ciel.png);
  background-repeat: repeat-y;
  background-size: cover;
  text-align: center;
  color: var(--color-pink);
  padding-top: 5rem;
  height: 100vh;
}

.licorne-dab {
  max-width: 70%;
}

.text-not-found {
  max-width: 70%;
  margin: 0 auto
}

.logo {
  margin-top: 5rem;
  width: 50%;
}

/* *****************************************************************
RESPONSIVE
***************************************************************** */
@media screen and (min-width: 480px) and (max-width: 960px) {
  .licorne-dab {
    max-width: 50%;
  }
  .text-not-found {
    max-width: 60%;
  }
  .logo {
    margin-top: 5rem;
    width: 40%;
  }
}

@media screen and (min-width: 960px){
  .licorne-dab {
    max-width: 30%;
  }
  .logo {
    margin-top: 5rem;
    width: 20%;
  }
}
