/* *****************************************************************
PROFIL SITTER
***************************************************************** */
.bg--green {
  height: 7rem;
  background-image: url(../images/bg_green.svg);
  background-size: 50%;
  visibility: hidden;
}

.profil {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--color-dark-grey);
  background-color: var(--color-white);
  & p {
    margin: 0.5rem 0;
  }
  & h1,
  &h2 {
    margin-bottom: 1rem
  }
}

.profil__img {
  width: 100%;
  line-height: 0;
    & img {
      height: 100%;
      object-fit: cover;
    }
}

.box__infos {
  padding: 0 2rem 2rem 2rem;
  width: 100%;
}

.sitter__rating {
  display: flex;
    & p {
      font-weight: 700;
      margin-right: 3rem;
    }
}

.box__specie {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.box__availability {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 100%;
  padding: 0 2rem 3rem 2rem;
  margin: 1rem 0;
  height: min-content;
  text-align: center;
  & a {
    width: 100%;
  }
}

.profil__table {
  font-size: 1.5rem;;
  // margin-bottom: 2rem;
  margin: 3rem 0 1rem 0;
  padding: 1rem;
  background-color: var(--color-cream);

    & table {
      width: 100%;
      border-collapse: collapse;
    }
    & thead {
      font-size: var(--size-title-3);
      font-family: 'Young Serif';
    }
    & thead th {
      padding-bottom: 0;
      background-color: var(--color-cream);
    }
    & th, td {
      padding: 1rem 2rem;
      border-bottom: 1.5rem solid var(--color-cream);
      background-color: var(--color-white);
    }
}

.days,
.hours {
  font-weight: 700;
  color: var(--color-grey)
}
.days {
  padding-left: 0.5rem;
  text-align: left;
}

.hours {
  padding-right: 0.5rem;
  text-align: right;
}

.box {
  padding: 1rem;
  margin: 0;
}

.box__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  column-gap: 5rem;
  margin: 3rem 2rem;
}

.box__reviews {
  width: 100%;
  margin-top: 2rem;
  text-align: center;
  & h2 {
    color: var(--color-orange);
    margin-top: 0;
  }
}

iframe {
  width: 100%;
  max-height: 500px;
  border: 0;
}

/*
RESPONSIVE
 */
@media screen and (min-width: 480px) and (max-width: 960px) {
  .profil {
    margin: 0 5rem;
  }

  .profil__table {
      & th, td {
        padding: 1rem;
      }
  }

  .box__infos {
    padding: 0 5rem;
  }

  .box__availability {
    padding: 2rem 5rem 5rem 5rem;
  }

  .box__details {
    margin: 5rem;
  }

  .box__reviews {
    margin-top: 5rem;
    & h2 {
      margin: 0;
    }
  }
}

@media screen and (min-width: 960px){
  .profil {
    flex-direction: row;
  }
  .profil__img {
    width: 30%;
  }

  .box__infos {
    width: 40%;
  }

  .box__availability {
    width: 33%;
    padding: 0 2rem 0 2rem;
    margin: 4rem 2rem 2rem 0;
  }

  .profil__table {
      & th, td {
        padding: 1rem;
      }
  }

  .box__details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5rem 0;
  }

  .box__reviews {
    width: 66%;
    text-align: start;
    margin: 0;
    & h2 {
      margin-top: 0;
      margin-bottom: 1rem;
    }
  }

  iframe {
    width: 33%;
    max-height: 500px;
    border: 0;
  }
}


/* *****************************************************************
PROFIL PET
***************************************************************** */
.guard {
  position: relative;
  text-align: center;
  padding: 2rem;
  margin: 3rem 0 1rem 0;
  background-color: var(--color-cream);
    & h2 {
      margin: 1rem;
    }
}
.guard__p {
  background-color: var(--color-white);
  padding: 1rem;
  margin-bottom: 0.5rem;
}

.total-days {
  padding: 1rem;
  font-family: "Young Serif";
  color: var(--color-orange) ;
  background-color: var(--color-cream);
  border: 0.1rem solid var(--color-orange);
  background-color: var(--color-white);
}
