/* PET SITTERS */

.search__banner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 2rem;
  align-items: center;
  padding: 10rem 2rem 3.5rem 2rem;
  background-image: url(../images/bg_green.svg);
  background-size: 100%;
  background-color: var(--color-dark-green);
}

/* SEARCH BAR */

form {
  margin-bottom: 0;
}

.separator {
  display: none;
  height: 3.1rem;;
  padding: 0.5rem 1.5rem;
  color: var(--color-dark-green);
  font-weight: bold;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
}

select {
    color: var(--color-grey);
    width: 100%;
    height: 3.1rem;
    padding: 0 1rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
}

.search__bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
    & button {
      padding: 0.5rem 1rem;
      background-color: var(--color-gold);
    }
    & form {
      width: 100%;
      height: 3rem;
      padding: 0.5rem 1rem;
    }
    & input {
      width: 100%;
      line-height: 2rem;
    }

    & ::-moz-placeholder {
      color: var(--color-grey);
    }
    & ::placeholder {
      color: var(--color-grey);
    }
}


/* *****************************************************************
RESPONSIVE
***************************************************************** */
@media screen and (min-width: 480px) and (max-width: 960px) {
  .search__banner {
    background-size: 80%;
    padding: 17rem 2rem 5rem 2rem;
    flex-direction: row;
  }
  select {
    width: 30%;
  }
  .separator {
    display: block;
  }
}

@media screen and (min-width: 960px){
  .search__banner {
    background-size: 50%;
    padding: 20rem 20rem 5rem 20rem;
    flex-direction: row;
  }
  select {
    width: 30%;
  }
  .separator {
    display: block;
  }
}
