/* BANNER */
.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 15rem 5rem 0rem 5rem;
  background-image: url(../../../public/images/bg_green.svg);
  background-size: 50%;
  background-color: var(--color-dark-green);
}
.banner img {
  position: relative;
  max-width: 30%;
  opacity: 0.4;
  bottom: 2rem;
  right: 1rem
}
.intro {
  text-align: center;
  width: 50%;
}
.cta-area {
  display: flex;
  justify-content: space-evenly;
}
