/* BANNER */
.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20rem 5rem 0rem 5rem;
  background-image: url(../../../public/images/bg_green.svg);
  background-size: 50%;
  background-color: var(--color-dark-green);
}
.banner img {
  position: relative;
  max-width: 25%;
  opacity: 0.4;
  bottom: 2rem;
  right: 1rem
}
.intro {
  text-align: center;
  width: 50%;
}
.cta-area {
  display: flex;
  justify-content: space-evenly;
}

/* *****************************************************************
MEDIA QUERIES
***************************************************************** */
/* SMARTPHONES (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .banner {
    padding: 25rem 5rem 5rem 5rem;
  }
  .banner img {
    display: none;
  }
  .intro {
    width: 100vw;
    padding: 0 2rem
  }
  .cta-area {
    flex-direction: column;
    gap: 2rem;
  }
  }

  /* TABLETTES (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  /* Styles */
  }
