/* *****************************************************************
GENERALITIES
***************************************************************** */
.bg--green {
  height: 15rem;
  background-image: url(../../../public/images/bg_green.svg);
  background-size: 50%;
}
.dashboard__separator {
  color: var(--color-dark-grey);
  padding: 2rem 0;
  border-top: 0.1rem solid var(--color-dark-grey);
}
/* *****************************************************************
DASHBOARD USER
***************************************************************** */
.dashboard__container {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  height: 100vh;
}

.dashboard__nav {
  width: 20%;
  padding: 3rem 2rem;
  color: var(--color-dark-grey);
  text-align: center;
  background-color: var(--color-light-grey);
}
.dashboard__nav img {
  width: 10rem;
  height: 10rem;
  background-position: center;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
}
.dashboard__title {
  color: var(--color-orange);
  padding-bottom : 1rem;
  border-bottom: 0.1rem solid var(--color-orange);
}
.dashboard__menu{
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}
.dashboard__content {
  width: 100%;
}

/* *****************************************************************
DASHBOARD ADMIN
***************************************************************** */
.admin__container {
  width: 60%;
  margin: 0 auto 2rem auto;
}

.admin {
  width: 100%;
  table-layout: auto;
  color: var(--color-dark-grey);
  text-align: center;
}

.admin thead tr th {
  padding-bottom: 1rem;
  font-family: 'Young Serif';
  color: var(--color-dark-green);
}

.table__admin__photo {
  margin-left: 1rem;
  border-radius: 50%;
  width: 5rem;
}

button {
  cursor: pointer;
  font-size: 2rem;
  border: 0;
  padding: 0 2rem;
  background-color: transparent;
}

.update {
  color: var(--color-dark-grey);
  transition: all 0.5s ease-in-out;
}
.update:hover {
  transform: scale(1.2);
  color: var(--color-dark-green);
  transition: all 0.5s ease-in-out;
}

.delete {
  color: var(--color-dark-grey);
  transition: all 0.5s ease-in-out;
}
.delete:hover {
  transform: scale(1.2);
  color: var(--color-orange);
  transition: all 0.5s ease-in-out;
}
