/* *****************************************************************
GENERALITIES
***************************************************************** */
.bg--green {
  height: 7rem;
  background-image: url(../../../public/images/bg_green.svg);
  background-size: 50%;
}

/* *****************************************************************
DASHBOARD USER
***************************************************************** */

/* *****************************************************************
DASHBOARD ADMIN
***************************************************************** */
