/* BANNER */
.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10rem 0 5rem 0;
  background-image: url(../images/bg_green.svg);
  background-size: 100%;
  background-color: var(--color-dark-green);
}
.intro {
  text-align: center;
  width: 90%;
}
.cta-area {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  column-gap: 2rem;
}

/* MINI-BANNER */
.banner__mini {
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 2rem;
  background-image: url(../images/bg_green.svg);
  background-size: 50%;
  background-color: var(--color-dark-green);
}

/* *****************************************************************
RESPONSIVE
***************************************************************** */
@media screen and (min-width: 480px) and (max-width: 960px) {
  .banner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15rem 5rem 5rem 5rem;
    background-size: 80%;
  }
  .intro {
    text-align: center;
    width: 90%;
  }
  .cta-area {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  /* MINI-BANNER */
    .banner__mini {
      text-align: center;
      padding-top: 8rem;
      padding-bottom: 2rem;
      background-image: url(../images/bg_green.svg);
      background-size: 80%;
      background-color: var(--color-dark-green);
    }
}

@media screen and (min-width: 960px){
  .banner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15rem 5rem 5rem 5rem;
    background-size: 50%;
  }
  .intro {
    text-align: center;
    width: 65%;
  }
  .cta-area {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

    /* MINI-BANNER */
    .banner__mini {
      text-align: center;
      padding-top: 11.5rem;
      padding-bottom: 4rem;
      background-image: url(../images/bg_green.svg);
      background-size: 50%;
      background-color: var(--color-dark-green);
    }
}
