@use "../utils/_mixins.scss" as m;

.btn:focus,
.btn__seeMore:focus {
  outline: 2px solid #000;
}

.btn-like {
  position: absolute;
  max-width: 3rem;
  top: 1.5rem;
  right: 1.5rem;
}

/* *****************************************************************
BUTTON
***************************************************************** */

.btn {
  font-family: 'Young Serif';
  color: var(--color-cream);
  padding: 0.8rem 1rem;
  width: 100%;
  transition: all 0.2s ease-in-out;
  &:hover {
    box-shadow: none;
    transition: 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
}

.btn__camel {
  @include m.btn-color(var(--color-camel), var(--color-cream), var(--color-gold));
}

.btn__orange {
  @include m.btn-color(var(--color-orange), var(--color-gold), var(--color-gold));
}

.btn__gold {
  @include m.btn-color(var(--color-gold), var(--color-cream), var(--color-orange));
}


/* *****************************************************************
BUTTON SEE MORE
***************************************************************** */

.btn__seeMore {
  font-family: 'Young Serif';
  justify-content: center;
    &:after{
      content:"";
      display:inline-block;
      width:3.5rem;
      height:1.6rem;
      margin-left: 1rem;
      background-size:100%;
      transition: 0.5s ease-in-out;
    }
    &:hover:after {
      margin-left: 2rem;
      transition: 0.5s ease-in-out;
    }
}

.btn__seeMore--pink {
  @include m.btn-seeMore-color(var(--color-pink), "../images/pictos/arrow2_d_pink.svg");
}

.btn__seeMore--orange {
  @include m.btn-seeMore-color(var(--color-orange), "../images/pictos/arrow2_d_orange.svg");
}

.btn__seeMore--cream {
  @include m.btn-seeMore-color(var(--color-cream), "../images/pictos/arrow2_d_cream.svg");
}
